@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #12171d;
  --background-color: #e3e2e2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #e3e2e2;
    --background-color: #12171d;
  }
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}
